
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree|Roboto');

body{
	font-family: 'Roboto', sans-serif;
	background-color: #F8F9FA !important;
}
.content-thai{
	font-family: 'Bai Jamjuree', sans-serif !important;
}
button,a,input{
	font-family: 'Roboto', sans-serif !important;
}
.navbar-default{
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(49, 154, 239, 0.4000000059604645);
	min-height: 80px;
	background-image: none !important;
}
.rounded-50{
	border-radius: 50px;
}
.icon-seaech{
	font-size: 1.2em;
	position: absolute;
	margin-left: 15px;
	opacity: 0.7;
}
.dropdown-toggle::after{
	display: none !important;
}
.font-20{
	font-size: 20px;
}
.mw-120{
	max-height: 120px;
}
.wall-shadow-white{
	background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4000000059604645);
}
.p-40px{
	padding: 40px;
}
#userloginForm .mw-htmlform.mw-ui-vform{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

input{
	color: #495057 !important;
	padding: 10px !important;
}

#userloginForm label{
	color: #495057 !important;
	font-size: 14px;
}

#userloginForm input{
	background-color: #F1F3F5;
	border-radius: 5px;
	font-size: 16px;
	box-shadow: none !important;
	height: auto;
	border: none;
}
.font-14{
	font-size: 14px;
}
.color-blue,a,.mw-htmlform-nolabel{
	color: #339AF0 !important;
}
.mw-htmlform-submit.mw-ui-primary{
	color: #FFFFFF;
	background-color: #20C997;
  border: 1px solid #20C997;
  border-radius: 5px;
}
.mw-htmlform-submit.mw-ui-primary:hover{
	color: #20C997;
	background-color: transparent;
  border: 1px solid #20C997;
}
.mw-userlogin-help,
.mw-ui-vform .mw-form-related-link-container{
	display: inline-block;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
.mw-userlogin-help .mw-htmlform-nolabel{
	text-align: left !important;
}
.footer{
	 background-color: #495057 !important;
	 min-height: 40px;
}
#footer-places li a{
	color: #FFFFFF !important;
	font-size: 14px;
}
.client-js .mw-ui-checkbox:not(#noop) [type='checkbox']:checked{
	border: none
}
.btn-edit{
	color: #FFFFFF !important;
	background-color: #B4B4B4;
	border-radius: 5px;
	width: 50%;
}
.mt-minus-10px{
	margin-top: -10px;
}